<div class="mb-4 d-flex justify-content-between position-relative">
  <div>
    <a routerLink="/categories"><button class="addbtn"><i class="fa fa-reply"></i> Go Back</button></a>
    <a [routerLink]="['/categories/add', parentCategoryId]"><button class="addbtn"><i class="fa fa-plus"></i> Add Sub Category</button></a>
  </div>
    <div class="alert alert-success" *ngIf="success"  [hidden]="displayPopup">        
        <div class="alert-success"><i class="fa fa-check-circle"></i> {{success}}</div>
      </div>
      <div class="alert alert-danger" *ngIf="error" [hidden]="displayPopup"  style="max-width:45%">        
        <div class="alert-danger"><i class="fa fa-times-circle"></i> {{error}}</div>
      </div>
</div>
  <table datatable [dtOptions]="dtOptions" class="row-border hover datatable" width="100%">
    <thead>
      <tr>
        <th>SR#</th>
        <th>Image</th>
        <th>Name</th>
        <!-- <th>Created Date</th> -->
        <th style="text-align: right">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="categories?.length != 0">
        <tr *ngFor="let category of categories; let i = index">
            <td>{{startRowCount+i+1}}</td>
            <td style="width: 110px !important;
            "><img src="{{category.imageURL}}" height="50" width="50"/></td>      
            <td> {{ category.categoryName }}</td>      
            <!-- <td>{{category.createdDateTime| date : 'yyyy-MM-dd' }}</td> -->
            <td class="action" align="right"> 
                <a  [routerLink]="['/categories/edit/', category.categoryId, parentCategoryId]"  class="text-danger"><img src="assets/img/icons/edit.png" title="Edit"/></a>
                 &nbsp; 
                <a  (click)="open(content, category.categoryId)" class="text-danger"><img src="assets/img/icons/delete.png" title="Remove"/></a>
                
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="categories?.length == 0">
      <tr>
        <td colspan="5" class="no-data-available">No data Found!</td>
      </tr>
    <tbody>
  </table>
  
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
      <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body">
      Are you sure want to delete? 
    </div>
    <div class="modal-footer">
      <button type="button" class="addbtn" (click)="deleteCategory(categoryId)">Yes</button>
      <button type="button" class="addbtn" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </ng-template>
  
  
  
  <hr>
  
  