<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true" [navbarBrandFull]="{src: 'assets/img/logo.png', width: 89,alt: 'Consultant'}" [sidebarToggler]="'lg'">
    <div class="title">
            <!-- <h3>{{Titlee}}</h3> -->
            <h3>{{mission}}</h3>
            <span class="linesback"></span>
        </div>
    <ul class="nav navbar-nav ml-auto mr-18">
        <li class="nav-item dropdown" dropdown placement="bottom right"  (click)="logout()" title="Logout" style="cursor: pointer" >
           <img src="assets/img/log_out.png" >
        </li>
    </ul>
</app-header>
<div class="app-body">
    <app-sidebar [fixed]="true" [display]="'lg'">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <!-- Main content -->
    <main class="main">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.container-fluid -->
    </main>
</div>