<div class="mb-4 d-flex position-relative">
    <a routerLink="/admin/add"><button class="addbtn"><i class="fa fa-plus"></i> Add Admin</button></a>
    <div class="alert alert-success" *ngIf="success"  [hidden]="displayPopup">        
      <div class="alert-success"><i class="fa fa-check-circle"></i> {{success}}</div>
    </div>
</div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover datatable" width="100%">
  <thead>
    <tr>
<!--       <th class="select-checkbox"><input id="checkBox" type="checkbox" (click)="onselectAll()"></th> -->
      <th>SR#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Registration Date</th>
      <th style="text-align: right">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="persons?.length != 0">
    <tr *ngFor="let person of persons; let i = index">
      <td>

      {{startRowCount+i+1}}</td>
      <td class="ellipsis">{{ person.name }}</td>
      <td>{{ person.emailaddress }}</td>
      <td>{{person.createdDateTime|  date:'dd-MMM-yyyy, HH:mm' }}</td>
      <td class="action" align="right">
        <a [routerLink]="['/admin/edit/', person._id]" class="text-danger"><img src="assets/img/icons/edit.png" title="Edit"/></a>&nbsp;
        <a (click)="open(content, person._id)" class="text-danger"><img src="assets/img/icons/delete.png" title="Remove"/></a>&nbsp;

      </td>
      
    </tr>
  </tbody>
  <tbody *ngIf="persons?.length == 0">
    <tr>
      <td colspan="7" class="no-data-available">No data!</td>
    </tr>
  <tbody>
</table>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    Are you sure want to delete?
  </div>
  <div class="modal-footer">
    <button type="button" class="addbtn" (click)="deleteUser(adminId)">Yes</button>
    <button type="button" class="addbtn" (click)="modal.dismiss('Cross click')">Cancel</button>
  </div>
</ng-template>



<hr>

