<div class="mb-4 d-flex justify-content-end position-relative" style="height: 35px;">
    
    <div class="alert alert-success" *ngIf="success"  [hidden]="displayPopup">        
        <div class="alert-success"><i class="fa fa-check-circle"></i> {{success}}</div>
      </div>
      <div class="alert alert-danger" *ngIf="error" [hidden]="displayPopup">        
        <div class="alert-danger"><i class="fa fa-time-circle"></i> {{error}}</div>
      </div>
</div>
<table datatable [dtOptions]="dtOptions" class="row-border hover datatable" width="100%">
  <thead>
    <tr>
      <th>SR#</th>
      <th>Image</th>
      <th>Name</th>
      <th>Mobile</th>
      <th>Email</th>
      <!-- <th>Created Date</th> -->
      <th style="text-align:right">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="feedbacks?.length != 0">
    <tr *ngFor="let feedback of feedbacks; let i = index">
      <td>{{startRowCount+i+1}}</td>
      <td> <img src="{{feedback.image}}" height="50" width="50"/></td>
      <td> {{ feedback.userName }}</td>
      <td> {{ feedback.mobileNo }}</td>
      <td> {{ feedback.emailAddress }}</td>
      <!-- <td>{{feedback.createdDateTime| date : 'yyyy-MM-dd' }}</td> -->
      <td class="action" align="right">
        <a [routerLink]="['/feedback/view/', feedback.feedbackId]" class="text-danger"><img src="assets/img/icons/subcategory.png" title="View"/></a>
        &nbsp;
        <a (click)="open(content, feedback.feedbackId)" class="text-danger"><img src="assets/img/icons/delete.png" title="Remove"/></a>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="feedbacks?.length == 0">
    <tr>
      <td colspan="6" class="no-data-available">No data found!</td>
    </tr>
  <tbody>
</table>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    Are you sure want to delete?
  </div>
  <div class="modal-footer">
    <button type="button" class="addbtn" (click)="deletefeedback(feedbackId)">Yes</button>
    <button type="button" class="addbtn" (click)="modal.dismiss('Cross click')">Cancel</button>
  </div>
</ng-template>



<hr>

  