p {
    font-family: Lato;
  }

  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.action a{
  font-size: 20px;
}
.datatable{
  border-radius: 5px; 
    tr{
      border-radius: 5px; 
        th{
            background: #F5C403;
            &:first-child{
                border-radius: 5px 0 0 0; 
            }
            &:last-child{
                border-radius: 0 5px 0 0; 
            }
        }

        &:last-child{
            td{
                &:first-child{
                    border-radius: 5px 0 0 0; 
                }
                &:last-child{
                    border-radius: 0 5px 0 0; 
                }   
            }
        }
    }
    tfoot{
        tr{
            th{
                background: #cac8c8;
                border:0;
                border-radius: unset; 
            }
        }
    }
}

table.dataTable thead {
  .sorting_asc {
  background: #F5C403;
  background-image: url(../../../assets/img/sort_asc.png);
  background-repeat: no-repeat;
  background-position: center left; 
  }
  .sorting_desc {
  background: #F5C403;
  background-image: url(../../../assets/img/sort_desc.png);
  background-repeat: no-repeat;
  background-position: center left; 
  }
}

.report-title {
    width: 100%;
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .report-title span { 
     background:#e4e5e6; 
     padding:0 10px 0 0; 
 }

 td.text-center.no-data-available {
    height: 270px;
}

.dataTables_length {margin-top: 10px;}

// table.dataTable thead th {
    // padding-left: 0 !important;
// }
.dataTables_scrollFootInner{
    padding: 0 !important;
    width:100% !important;
}

table.dataTable tbody td {
    padding: 10px 18px !important;
    text-overflow: ellipsis;
}

// .adminCommissionReportGrid thead th:last-child
// {padding-right: 32px;}